html {
  font-family: sans-serif;
  font-size: 22px;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: rgb(40, 40, 40);
  color: white;
  height: 56px;
  padding: .5rem;
}

.nav-title {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 1.2rem;
  flex-grow: 1;
}

.command-bar {
  flex-grow: 3;
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}

.nav-items a {

  color: #a9a9a9;
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.nav-items a:hover {
  color: #ffffff;
}

main {
  height: calc(100vh - 78px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.command-container {
  height: 150px;
  width: 600px;
  padding: 50px;
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.command-bar input {
  width: 60%;
  padding: 25px 25px;
  border-radius: 5px;
  border: none;
  background-color: rgb(50, 50, 50);
  color: #fff;
  caret-color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  transition: all .2s ease-out
}

.command-bar input:focus {
  border: none;
  background-color: rgb(70, 70, 70);
  width: 100%;
  outline: none;
}

.light-shadow {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.15);
}